TimeAideWeb/Web References/WebPunchEmployeeLoginService/wsEmployeeLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cloudaide.timeaide.com/wsEmployeeLogin" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cloudaide.timeaide.com/wsEmployeeLogin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cloudaide.timeaide.com/wsEmployeeLogin">
      <s:element name="EmployeeLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intEmployeeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeLoginResult" type="tns:clsEmployeeLoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsEmployeeLoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="intTokenValidationResult" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="strTokenValidationResult" type="tns:SessionTokenValidationResult" />
          <s:element minOccurs="1" maxOccurs="1" name="intEmployeeLoginResult" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="strEmployeeLoginResult" type="tns:enumEmployeeLoginResult" />
          <s:element minOccurs="0" maxOccurs="1" name="clsUserInfoRecord" type="tns:clsUserInfoItem" />
          <s:element minOccurs="0" maxOccurs="1" name="lstUserAlerts" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SessionTokenValidationResult">
        <s:restriction base="s:string">
          <s:enumeration value="MiscError" />
          <s:enumeration value="TokenIsValid" />
          <s:enumeration value="IsEmpty" />
          <s:enumeration value="InvalidFormat" />
          <s:enumeration value="NotFoundInDB" />
          <s:enumeration value="Expired" />
          <s:enumeration value="ConsumationCountExceeded" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="enumEmployeeLoginResult">
        <s:restriction base="s:string">
          <s:enumeration value="General_Error" />
          <s:enumeration value="Validation_Successful" />
          <s:enumeration value="Validation_Failed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="clsUserInfoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserDepartment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserSubDepartment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserEmployeeType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="clsEmployeeLoginResult" nillable="true" type="tns:clsEmployeeLoginResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeLoginSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeLogin" />
  </wsdl:message>
  <wsdl:message name="EmployeeLoginSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeLoginResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeLoginHttpGetIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="intEmployeeID" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EmployeeLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:clsEmployeeLoginResult" />
  </wsdl:message>
  <wsdl:message name="EmployeeLoginHttpPostIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="intEmployeeID" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EmployeeLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:clsEmployeeLoginResult" />
  </wsdl:message>
  <wsdl:portType name="wsEmployeeLoginSoap">
    <wsdl:operation name="EmployeeLogin">
      <wsdl:input message="tns:EmployeeLoginSoapIn" />
      <wsdl:output message="tns:EmployeeLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsEmployeeLoginHttpGet">
    <wsdl:operation name="EmployeeLogin">
      <wsdl:input message="tns:EmployeeLoginHttpGetIn" />
      <wsdl:output message="tns:EmployeeLoginHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsEmployeeLoginHttpPost">
    <wsdl:operation name="EmployeeLogin">
      <wsdl:input message="tns:EmployeeLoginHttpPostIn" />
      <wsdl:output message="tns:EmployeeLoginHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEmployeeLoginSoap" type="tns:wsEmployeeLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeLogin">
      <soap:operation soapAction="http://cloudaide.timeaide.com/wsEmployeeLogin/EmployeeLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEmployeeLoginSoap12" type="tns:wsEmployeeLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeLogin">
      <soap12:operation soapAction="http://cloudaide.timeaide.com/wsEmployeeLogin/EmployeeLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEmployeeLoginHttpGet" type="tns:wsEmployeeLoginHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EmployeeLogin">
      <http:operation location="/EmployeeLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEmployeeLoginHttpPost" type="tns:wsEmployeeLoginHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EmployeeLogin">
      <http:operation location="/EmployeeLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEmployeeLogin">
    <wsdl:port name="wsEmployeeLoginSoap" binding="tns:wsEmployeeLoginSoap">
      <soap:address location="http://tawqc.timeaide.com:9001/wsEmployeeLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEmployeeLoginSoap12" binding="tns:wsEmployeeLoginSoap12">
      <soap12:address location="http://tawqc.timeaide.com:9001/wsEmployeeLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEmployeeLoginHttpGet" binding="tns:wsEmployeeLoginHttpGet">
      <http:address location="http://tawqc.timeaide.com:9001/wsEmployeeLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEmployeeLoginHttpPost" binding="tns:wsEmployeeLoginHttpPost">
      <http:address location="http://tawqc.timeaide.com:9001/wsEmployeeLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>