TimeAideWeb/Web References/WebPunchLoginService/wsLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cloudaide.timeaide.com/wsLogin" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cloudaide.timeaide.com/wsLogin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cloudaide.timeaide.com/wsLogin">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAPIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:clsLoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsLoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="intLoginResult" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="strLoginResult" type="tns:enumLoginResult" />
          <s:element minOccurs="0" maxOccurs="1" name="strSessionToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enumLoginResult">
        <s:restriction base="s:string">
          <s:enumeration value="General_Error" />
          <s:enumeration value="Password_Match" />
          <s:enumeration value="Password_Matching_Failed" />
          <s:enumeration value="APIKey_or_Password_IsEmpty" />
          <s:enumeration value="SessionToken_Generation_Failed" />
          <s:enumeration value="SessionToken_Not_Saved_in_DB" />
          <s:enumeration value="APIKey_Not_Found" />
          <s:enumeration value="Password_Not_Found_For_APIKey" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginWithCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAPIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCompanyCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginWithCCResult" type="tns:clsLoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clsLoginResult" nillable="true" type="tns:clsLoginResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginWithCCSoapIn">
    <wsdl:part name="parameters" element="tns:LoginWithCC" />
  </wsdl:message>
  <wsdl:message name="LoginWithCCSoapOut">
    <wsdl:part name="parameters" element="tns:LoginWithCCResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="strAPIKey" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:clsLoginResult" />
  </wsdl:message>
  <wsdl:message name="LoginWithCCHttpGetIn">
    <wsdl:part name="strAPIKey" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strCompanyCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginWithCCHttpGetOut">
    <wsdl:part name="Body" element="tns:clsLoginResult" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="strAPIKey" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:clsLoginResult" />
  </wsdl:message>
  <wsdl:message name="LoginWithCCHttpPostIn">
    <wsdl:part name="strAPIKey" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strCompanyCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginWithCCHttpPostOut">
    <wsdl:part name="Body" element="tns:clsLoginResult" />
  </wsdl:message>
  <wsdl:portType name="wsLoginSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithCC">
      <wsdl:input message="tns:LoginWithCCSoapIn" />
      <wsdl:output message="tns:LoginWithCCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsLoginHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithCC">
      <wsdl:input message="tns:LoginWithCCHttpGetIn" />
      <wsdl:output message="tns:LoginWithCCHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsLoginHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithCC">
      <wsdl:input message="tns:LoginWithCCHttpPostIn" />
      <wsdl:output message="tns:LoginWithCCHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsLoginSoap" type="tns:wsLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://cloudaide.timeaide.com/wsLogin/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithCC">
      <soap:operation soapAction="http://cloudaide.timeaide.com/wsLogin/LoginWithCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsLoginSoap12" type="tns:wsLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://cloudaide.timeaide.com/wsLogin/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithCC">
      <soap12:operation soapAction="http://cloudaide.timeaide.com/wsLogin/LoginWithCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsLoginHttpGet" type="tns:wsLoginHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithCC">
      <http:operation location="/LoginWithCC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsLoginHttpPost" type="tns:wsLoginHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithCC">
      <http:operation location="/LoginWithCC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsLogin">
    <wsdl:port name="wsLoginSoap" binding="tns:wsLoginSoap">
      <soap:address location="http://tawqc.timeaide.com:9001/wsLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="wsLoginSoap12" binding="tns:wsLoginSoap12">
      <soap12:address location="http://tawqc.timeaide.com:9001/wsLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="wsLoginHttpGet" binding="tns:wsLoginHttpGet">
      <http:address location="http://tawqc.timeaide.com:9001/wsLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="wsLoginHttpPost" binding="tns:wsLoginHttpPost">
      <http:address location="http://tawqc.timeaide.com:9001/wsLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>